@import url('components/header/header.css');
@import url('components/footer/footer.css');
.body, .html {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flexboxtype {
    display: flex;
    align-items: center;
}

/* ///////////////////////////////////////////////////// Main v */

.main, .main-div-container {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    background-color: #0079BF;
    overflow: auto;
}

.main-div-container {
    padding: 0px;
    margin: 0px;
}

.task-board {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: max-content;
    min-height: 300px;
    width: 282px;
    min-width: max-content;
    margin: 5px;
    border-radius: 10px;
    background-color: #EBECF0;
}

.task-board-header {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 282px;
    padding: 12px;
    font-size: 18px;
}

.task-board-dots {
    border-radius: 5px;
    font-size: 18px;
    color: #5E6C84;
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
}

.task-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.task {
    display: block;
    min-height: 20px;
    min-width: max-content;
    width: 282px;
    margin: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 8px;
    background-color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.add-card {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 282px;
    padding: 12px;
    font-size: 18px;
}

.add-card-btn {
    background-image: url(./images/add-card.png);
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 5px;
    border-radius: 5px;
    font-size: 18px;
    color: #5E6C84;
    outline: none;
    border: none;
    cursor: pointer;
}

.add-card-btn:hover:enabled {
    cursor: pointer;
    background-color: white;
}

.add-card-btn:disabled {
    background-image: url(./images/add-card-disabled.png);
    cursor: not-allowed;
    color: #cacaca;
}

/* ///////////////////////////////////////////////////// Main ^ */